<h1>CD Details: </h1>

<h2>@Model["cd"].GetDescription()</h2>
<h3>Category: @Model["artist"].GetName()</h3>

<a href='/artists/@Model["category"].GetId()/cds/new'>Add another CD</a>
<a href='/artists'>View all artists</a>
<p><a href='/artists'>Return to Artist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
